{% extends 'meeting/base.html' %}
{% block title %}
    Create meeting
{% endblock %}
{% block content %}
 <form action = "{% url 'result_create_url' %}" method="post">
        {% csrf_token %}
        {% for field in form_meeting %}
            <div class = "form-group">
                {{ field.label }}
                {{ field }}
            </div>
        {% endfor %}
        {% for field in form_vote %}
            <div class = "form-group">
                {{ field.label }}
                {{ field }}
            </div>
        {% endfor %}
        <div class = "form-group">Date<input type ="datetime-local" name="1date" value="2019-05-21 21:52:51" id ="1date" class = "date" required> <input type="hidden" name="initial-date" value="2019-05-21 21:52:51" id="initial-id_date"></div>
        <button class = "addDate">Add date</button>
        <button type = "submit" class="btn btn-primary">Add meeting</button>
    </form>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script type="text/javascript" >
    $(".addDate").click(function (event) {
       event.preventDefault();
       dates = document.getElementsByClassName("date");
       id = parseInt(dates[dates.length-1].id.match( /[0-9]+/));
       id = id + 1;
       $( '<div class = "form-group">Date<input type ="datetime-local" name="'+id+'date" value="2019-05-21 21:52:51" id ="'+id+'date" class = "date" required> <input type="hidden" name="initial-date" value="2019-05-21 21:52:51" id="initial-id_date"></div>' ).insertBefore( ".addDate" );
    });
</script>
{% endblock %}